.carousel {
  padding: 0 5px;
  margin: 20px 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: unset;
  justify-content: space-between;
}

.carousel__container {
  // border: 2px solid red;
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  padding-bottom: 10px;
  width: 100vw;
  overflow: hidden;
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
}

.carousel__content {
  // border: 2px solid blue;
  margin: 35px 0px;
  position: relative;
  transition: transform 1s cubic-bezier(0.17, 0.07, 0, 1.07) 0s;
}

.carousel__slide__button {
  width: 5vw;
  z-index: 999;
  position: absolute;
  align-items: center;
  margin: auto 0;
  height: 250px;
  display: flex;
  justify-content: center;
}

.action-left {
  top: 35px;
  left: 0px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(251, 251, 251, 0) 90%
  );
}

.action-right {
  top: 35px;
  right: 0px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(251, 251, 251, 0) 90%
  );
}
